#code-copy {
    position: absolute;
    right: 10vw;
    margin-top: 4vh;
    transform: scale(1.9);
}

#copy-icon {
    transition: transform 0.2s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    animation: fadeIn 0.2s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#copy-icon:hover {
    transform: scale(1.3);
}

#copyed-icon {
    animation: fadeIn 0.1s ease 2.9s reverse;
    animation-iteration-count: 1;
}