.toggler
  display inherit
  height 2rem
  width 2rem
  background-color tan
  padding-right 6vw

#header
  top 0%
  display flex
  position sticky
  flex-direction row-reverse
  justify-content right
  align-items center
  height 6rem
  background-color white
  z-index 1000
  box-shadow none
  transition box-shadow 0.1s ease-in-out

:target
  scroll-margin-top 6rem

#header.scrolling-header
  box-shadow 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075) !important

.padding
  display none

/* 电脑端以及 iPad 端 */

@media screen and (min-width: 40rem)
  .toggler
    display none
  #header
    height 4rem
  .scrolling-header
    box-shadow 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important
  .padding
    display inherit
    display flex
    height 2rem
  .searchbar
    font-size 1rem !important
  :target
    scroll-margin-top 4rem

/* TODO */

#header>center
  width 100%
  transform-style preserve-3d
  perspective 1000
