.intro-container {
    display: inline-block;
    margin-top: 5vh;
    padding-left: 4vw;
    padding-right: 4vw;
    font-family: "JetBrains Mono", monospace;
}

.intro-container > h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.intro-container > h2 {
    text-indent: 2rem;
}

.intro-container > h3 {
    text-indent: 4rem;
}

.intro-container > p {
    text-indent: 2rem;
    hyphens: auto;
    word-break: normal;
    line-height: 150%;
}